# Игнорируем папку с зависимостями
node_modules

# Исключаем папку с собранными файлами
dist

# Пропускаем конфигурационные файлы системы контроля версий и линтинга
.git
.gitignore
.prettierrc

# Файлы среды окружения (они должны быть добавлены отдельно в контейнере)
.env
credentials.json

# Логи и кеши
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем IDE/редактор конфигурационные файлы
.vscode
*.swp